@media (max-width: 576px) {
  .simple-pagination-bar {
    margin-top: 0.3rem !important;
  }
}

.simple-pagination-bar {
  width: 100%;
  margin-top: 1rem;
  user-select: none;
}

.page-item{
    cursor: pointer;
}

.simple-pagination-bar .page-item a.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
}

.simple-pagination-bar .page-item a.page-link:hover {
  background-color: #f5f8fa !important;
}

.simple-pagination-bar .page-item.active .page-link {
  background-color: rgb(36 49 72) !important;
  border: 1px solid rgb(36 49 72) !important;
}
.simple-pagination-bar .page-item.active .page-link:hover {
  background-color: rgb(54 78 122) !important;
  border: 1px solid rgb(54 78 122) !important;
}
